{% extends 'base.html.twig' %}
{% form_theme formCom 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="bg-light m-5 p-5 rounded">

    {% if app.user %}
        
{{ form_start(formCom) }}

{{ form_row(formCom.author, {'attr': {'placeholder': "Votre pseudo"}}) }}
{{ form_row(formCom.content, {'attr': {'placeholder': "Votre commentaire"}}) }}

<button type="submit" class="btn btn-success">Ajouter</button>


{{ form_end(formCom) }}

{% else %}
    <h3>Vous ne pouvez pas commenter si vous n'êtes pas commenter</h3>
    <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
{% endif %}

</div>

{% endblock %}