{% extends 'base.html.twig' %}

{% block body %}
<article class="row">
    {% for article in articles %}
    <article class="col-4 col-sm-12 card card border-primary m-3" style="max-width: 20rem;">
        <h3 class="card-header">{{ article.title }}</h3>
        <h6>{{ article.category.title }}</h6>
        <h6>le {{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i') }}</h6>
        <div class="d-flex flex-column align-items-left card-body">
            <img class="card-title" src="{{ article.image }}" alt="">
            <p class="card-text">{{ article.content }}</p>
            <div class="d-flex align-items-end h-100 ">
                <a class="btn btn-secondary" href="{{ path('show', {'id': article.id} )}}">Voir l'article</a>
            </div>
        </div>
    </article>
    {% endfor %}
</article>

{% endblock %}