{% extends 'base.html.twig' %}

{% block body %}
<article class="row">
    {% for article in articles %}
    <article class="col-4 card text-white bg-primary m-3" style="max-width: 20rem;">
        <h2 class="card-header">{{ article.title }} </h2>
        <h6>le {{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i') }} dans la categories {{ article.category.title }}</h6>
        <div class="card-body">
            <img class="card-title" src="{{ article.image }}" alt="">
            <p class="card-text">{{ article.content }}</p>
            <a class="btn btn-secondary" href="{{ path('show', {'id': article.id} )}}">Voir l'article</a>
        </div>
    </article>
    {% endfor %}
</article>

{% endblock %}